     33 care
     28 clinic
     22 model
     19 requirements
     18 system
     16 transdisciplinary
     16 patient
     15 implementation
     15 health
     15 design
     14 research
     14 hit
     13 systems
     13 information
     12 technology
     12 ischool
     12 approach
     11 staff
     11 medical
     11 drexel
     11 analysis
     10 needs
      9 team
      9 informatics
      9 early
      8 tasks
      8 social
      8 science
      8 patients
      8 healthcare
      7 th
      7 st
      7 service
      7 data
      7 chronic
      7 adoption
      6 work
      6 use
      6 process
      6 philadelphia
      6 nursing
      6 improved
      6 hyperlink
      6 http
      5 support
      5 simple
      5 services
      5 relationships
      5 primary
      5 outcomes
      5 nurse
      5 goals
      5 engineering
      5 challenges
      5 american
      4 www
      4 variety
      4 user
      4 urban
      4 tools
      4 theory
      4 record
      4 order
      4 multiple
      4 method
      4 medically
      4 managed
      4 journal
      4 integrated
      4 input
      4 initial
      4 implications
      4 goal
      4 environment
      4 engagement
      4 electronic
      4 edu
      4 dependencies
      4 delivery
      4 current
      4 community
      4 behavioral
      4 address
      4 actors
      4 accomplish
      4 access
      3 yuan
      3 year
      3 working
      3 workflow
      3 value
      3 users
      3 theoretical
      3 street
      3 strategic
      3 settings
      3 school
      3 satisfaction
      3 rogers
      3 results
      3 represent
      3 prudence
      3 provide
      3 professional
      3 population
      3 page
      3 pa
      3 organizations
      3 opportunity
      3 objectives
      3 needed
      3 need
      3 models
      3 modeling
      3 michelle
      3 meet
      3 knowledge
      3 istar
      3 impact
      3 framework
      3 expertise
      3 example
      3 efforts
      3 disadvantaged
      3 de
      3 dalrymple
      3 content
      3 clinical
      3 clients
      3 civic
      3 chestnut
      3 benefit
      3 activities
      2 widely
      2 varied
      2 values
      2 university
      2 unique
      2 trends
      2 track
      2 time
      2 tikiindex
      2 terms
      2 term
      2 templates
      2 tacit
      2 surveys
      2 survey
      2 supported
      2 successful
      2 star
      2 stage
      2 specify
      2 specific
      2 society
      2 sheets
      2 setting
      2 served
      2 series
      2 see
      2 section
      2 schools
      2 rwth
      2 referred
      2 references
      2 recognition
      2 reasoning
      2 qualitative
      2 psychosocial
      2 professionals
      2 proceedings
      2 problems
      2 preventive
      2 practices
      2 practice
      2 potentially
      2 potential
      2 physician
      2 php
      2 phase
      2 pdalrymple
      2 past
      2 participatory
      2 participation
      2 paper
      2 pages
      2 oriented
      2 org
      2 movement
      2 methods
      2 medicine
      2 may
      2 long
      2 literature
      2 large
      2 known
      2 joins
      2 iterative
      2 istarquickguide
      2 introducing
      2 intrinsically
      2 interventions
      2 interdisciplinary
      2 inter
      2 insurance
      2 institute
      2 innovations
      2 individuals
      2 individual
      2 indirectly
      2 increases
      2 including
      2 importance
      2 hypothesize
      2 hospitals
      2 high
      2 healthy
      2 headlinedetails
      2 group
      2 gov
      2 given
      2 furthermore
      2 fundamental
      2 focusing
      2 figure
      2 failures
      2 failure
      2 faculty
      2 explore
      2 exploratory
      2 experience
      2 especially
      2 engage
      2 emerge
      2 elicited
      2 elicit
      2 effectiveness
      2 effective
      2 documents
      2 disciplinary
      2 director
      2 diffusion
      2 difficult
      2 differs
      2 desktop
      2 designed
      2 dependency
      2 demonstrate
      2 currently
      2 creating
      2 context
      2 conditions
      2 combines
      2 collaborative
      2 clinics
      2 classes
      2 cfm
      2 centered
      2 case
      2 calls
      2 building
      2 biomedical
      2 behavior
      2 based
      2 attention
      2 assess
      2 aspx
      2 approaches
      2 analyzed
      2 aimed
      2 aim
      2 ahrq
      2 agent
      2 adopted
      2 accepted
      2 aannet
      2 aachen
      1 yu
      1 yoga
      1 world
      1 workers
      1 wisely
      1 welcomed
      1 weiss
      1 weight
      1 vulnerabilities
      1 visit
      1 view
      1 verbalize
      1 utilized
      1 unit
      1 unertl
      1 undertaking
      1 understand
      1 ultimately
      1 ultimate
      1 typical
      1 tried
      1 trialed
      1 transition
      1 transform
      1 traditional
      1 tied
      1 think
      1 theories
      1 test
      1 teens
      1 technological
      1 technical
      1 taylor
      1 task
      1 tam
      1 takes
      1 taken
      1 systematic
      1 symposium
      1 surrounding
      1 supports
      1 supplement
      1 suggests
      1 suggest
      1 sufficiently
      1 successfully
      1 substantive
      1 study
      1 struggled
      1 struggle
      1 stress
      1 storage
      1 stokols
      1 steps
      1 starts
      1 standards
      1 standard
      1 stakeholders
      1 stages
      1 specifying
      1 specified
      1 special
      1 sophisticated
      1 socio
      1 smoking
      1 slower
      1 single
      1 similarly
      1 significant
      1 side
      1 set
      1 sessions
      1 session
      1 serving
      1 serves
      1 seen
      1 seeking
      1 seeing
      1 sector
      1 sct
      1 screening
      1 scheduled
      1 roles
      1 right
      1 review
      1 retrieval
      1 response
      1 resources
      1 residents
      1 researchers
      1 requiring
      1 representations
      1 reminders
      1 reminder
      1 remain
      1 reinforces
      1 reimbursement
      1 regional
      1 reflected
      1 reflect
      1 records
      1 recognize
      1 receive
      1 realities
      1 re
      1 rd
      1 rate
      1 rarely
      1 range
      1 ramifications
      1 quick
      1 questions
      1 questionnaire
      1 quantitative
      1 provision
      1 providing
      1 providers
      1 propose
      1 promise
      1 project
      1 progress
      1 program
      1 professions
      1 produce
      1 procedure
      1 proactive
      1 prior
      1 prevalence
      1 presents
      1 presented
      1 prepared
      1 predominates
      1 practitioner
      1 powerful
      1 positive
      1 positioning
      1 portability
      1 populations
      1 plan
      1 places
      1 place
      1 permission
      1 performed
      1 perceptions
      1 people
      1 patterns
      1 partnerships
      1 particular
      1 participative
      1 part
      1 parallels
      1 parallel
      1 outlook
      1 outcome
      1 originates
      1 orientation
      1 organizational
      1 organization
      1 opportunities
      1 operate
      1 offers
      1 offer
      1 objective
      1 novak
      1 notoriously
      1 note
      1 normal
      1 non
      1 new
      1 networks
      1 network
      1 negative
      1 necessary
      1 nationally
      1 multidisciplinary
      1 multi
      1 moser
      1 monitoring
      1 modest
      1 moderate
      1 mobility
      1 mission
      1 messaging
      1 members
      1 meetings
      1 meeting
      1 matches
      1 mapping
      1 making
      1 major
      1 mailto
      1 loss
      1 lorenzi
      1 local
      1 living
      1 little
      1 linkages
      1 link
      1 linfante
      1 lines
      1 line
      1 limitations
      1 likelihood
      1 lifestyles
      1 level
      1 leading
      1 lead
      1 lagged
      1 labs
      1 lab
      1 kukafka
      1 keywords
      1 keeping
      1 keenly
      1 johnson
      1 iteratively
      1 iterations
      1 issues
      1 involving
      1 investigate
      1 inventories
      1 introduction
      1 introduced
      1 international
      1 interact
      1 integrate
      1 instrumental
      1 institution
      1 inputs
      1 innovation
      1 inner
      1 initially
      1 informed
      1 increased
      1 increase
      1 incorporates
      1 incorporated
      1 include
      1 improve
      1 implementing
      1 illustrate
      1 ieee
      1 ideas
      1 hospital
      1 holds
      1 helping
      1 help
      1 hba
      1 hall
      1 guide
      1 grounding
      1 grey
      1 greater
      1 great
      1 going
      1 gain
      1 gadd
      1 furnished
      1 funding
      1 fully
      1 frustration
      1 free
      1 fraught
      1 frameworks
      1 format
      1 form
      1 follow
      1 focus
      1 flexible
      1 final
      1 features
      1 feasibility
      1 family
      1 facing
      1 facilities
      1 facilitate
      1 explicitly
      1 explanatory
      1 explain
      1 experiences
      1 expect
      1 existing
      1 exist
      1 exercise
      1 evidence
      1 establishing
      1 environments
      1 ensuing
      1 engaged
      1 encouraging
      1 enabling
      1 enabled
      1 enable
      1 emrs
      1 embody
      1 eliciting
      1 ehr
      1 effort
      1 effectively
      1 effect
      1 economic
      1 earlier
      1 draws
      1 drawing
      1 domain
      1 doi
      1 documented
      1 disease
      1 discussion
      1 discarded
      1 directly
      1 direction
      1 dietitians
      1 devoted
      1 developments
      1 develop
      1 despite
      1 desirable
      1 designing
      1 designers
      1 described
      1 describe
      1 derived
      1 depression
      1 dependent
      1 depend
      1 dentists
      1 deliver
      1 decomposition
      1 decision
      1 cycle
      1 cultural
      1 crisis
      1 cost
      1 correctly
      1 coordinates
      1 cooking
      1 contributed
      1 contribute
      1 contrast
      1 contextual
      1 consortial
      1 consists
      1 connolly
      1 conform
      1 configurations
      1 concepts
      1 computer
      1 compose
      1 components
      1 component
      1 complex
      1 completely
      1 complete
      1 compatible
      1 communicating
      1 commitment
      1 coming
      1 comes
      1 combining
      1 colleges
      1 college
      1 collection
      1 collected
      1 collaboration
      1 cognitive
      1 closer
      1 clinicians
      1 city
      1 cited
      1 children
      1 characteristics
      1 challenging
      1 cessation
      1 center
      1 cards
      1 capture
      1 calling
      1 calculators
      1 burden
      1 build
      1 brought
      1 brings
      1 bring
      1 brief
      1 break
      1 borrowed
      1 billing
      1 better
      1 benefits
      1 beneficial
      1 believe
      1 belief
      1 behaviors
      1 begun
      1 basic
      1 background
      1 back
      1 available
      1 automation
      1 autism
      1 attributes
      1 assumes
      1 association
      1 associate
      1 assisting
      1 assist
      1 aspects
      1 articulate
      1 article
      1 arrows
      1 arrangement
      1 argued
      1 appealing
      1 analyzing
      1 ameliorate
      1 ambulatory
      1 alternative
      1 alternate
      1 allegrante
      1 aliases
      1 alexander
      1 alerts
      1 akin
      1 affect
      1 adults
      1 adopt
      1 adequate
      1 additional
      1 actor
      1 activity
      1 activated
      1 acquiring
      1 acquainted
      1 achieved
      1 accompanied
      1 accommodate
      1 acceptance
      1 academy
      1 academic
      1 abstract
      1 ability
